name: Publish Dotnet
on:
  workflow_call:
    inputs:
      PROJECT_PATH:
        type: string
        description: PROJECT PATH
        required: true
      DOTNET_VERSION:
        type: string
        description: DOTNET VERSION
        default: 3.1.x
        required: false      
jobs:
  publish-dotnet:
    runs-on: ubuntu-latest
    env:
      PROJECT_PATH: ${{ inputs.PROJECT_PATH }}
      DOTNET_VERSION: ${{ inputs.DOTNET_VERSION }}
    steps:
      - name: Initialize Actions
        uses: actions/checkout@v4
      - name: Initialize .Net
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: Restore Project
        run: dotnet restore ${{ env.PROJECT_PATH }}
      - name: Publish Project
        run: dotnet publish ${{ env.PROJECT_PATH }}  -c release -o "publish"
      - name: Zip Project
        run: cd ./publish && zip -r deploy.zip .
      - uses: actions/upload-artifact@v4
        with:
          name: deploy-zip
          path: ./publish/deploy.zip