name: Lint Helm Chart
on:
  workflow_call:
jobs:
  lint-helm:
    runs-on: ubuntu-latest
    container:
      image: alpine/helm:3.16.2
    steps:
      - uses: actions/checkout@v4
      - name: Lint Helm Chart
        run: |
          helm lint helm/
