name: Terraform Deploy
on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        type: string
        description: ENVIRONMENT
        required: true
    secrets:
      ARM_CLIENT_ID:
        required: true
      ARM_CLIENT_SECRET:
        required: true
      ARM_SUBSCRIPTION_ID:
        required: true
      ARM_TENANT_ID:
        required: true
jobs:
  deploy-terraform:
    name: 'Terraform Deploy'
    runs-on: ubuntu-latest
    environment:  ${{ inputs.ENVIRONMENT }}
    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}        
    defaults:
      run:
        shell: bash
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.9.8
    - name: 'Terraform Format'
      run: terraform fmt -check
      working-directory: ./terraform
    - name: 'Terraform Init'
      run: terraform init
      working-directory: ./terraform
    - name: 'Terraform Validate'
      run: terraform validate
      working-directory: ./terraform
    
    # - name: "Download zip"
    #   uses: actions/download-artifact@v4
    #   with:
    #     name: deploy-zip
    #     path: ./terraform
         
    - name: 'Terraform Plan'
      run: terraform plan
      working-directory: ./terraform
    
    - name: Terraform Apply
      if: ${{ inputs.TFAction == 'apply'}} 
      run: terraform apply -auto-approve
      working-directory: ./terraform

    - name: Terraform Destroy
      if: ${{ inputs.TFAction == 'destroy'}} 
      run: terraform destroy -auto-approve
      working-directory: ./terraform